/*
    Autheur: Julien Savoie
*/
/*
    ## Variables
*/
/*
    ## Mixins
*/
/*
    ## Layout
*/
header {
  height: 5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header span {
  padding-right: 2vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav label {
  position: absolute;
}

nav label i {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

nav input {
  display: none;
}

nav input:checked ~ .title_bar {
  margin-top: 0px;
}

nav .menu_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu_container h1 {
  margin: 0;
  line-height: 70px;
}

nav .title_bar {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -380px;
  z-index: -1;
  -webkit-transition: margin-top 0.5s;
  transition: margin-top 0.5s;
}

nav .title_bar .menuOption {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .title_bar .menuOption6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

nav .title_bar .menuOption6:hover {
  background-color: initial;
  border-left: none;
  border-right: none;
}

@media screen and (min-width: 860px) {
  nav label {
    display: none;
  }
  nav .title_bar {
    position: relative;
    margin-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 123;
  }
  nav .title_bar .menuOption6 {
    display: none;
  }
}

main {
  position: absolute;
  z-index: -1200;
  width: 100%;
}

/*
    ## Entete
*/
/*
    ## Navigation
*/
/*
    ## Typography
*/
body {
  font-family: 'Alata', sans-serif;
}

header {
  color: #fedbb3;
}

nav {
  color: #fedbb3;
}

nav label #menuListener {
  font-size: 4.3em;
}

nav .title_bar {
  color: #fedbb3;
}

/*
    ## Pied-Page
*/
/*
    ## Elements
*/
header {
  background-color: #008797;
}

nav {
  background-color: #0249b4;
}

nav .title_bar {
  background-color: #01204f;
}

nav .title_bar .menuOption:hover {
  border-left: 4px solid #fc3516;
  border-right: 4px solid #fc3516;
  background-color: #012a68;
}

nav .title_bar .menuOption6 {
  border-top: 1px solid #2077fc;
  color: #2077fc;
}

nav .title_bar .menuOption6:hover {
  border-left: none;
  border-right: none;
  background-color: initial;
}

@media screen and (min-width: 860px) {
  nav .title_bar .menuOption {
    border-bottom: 4px solid #01204f;
  }
  nav .title_bar .menuOption:hover {
    border-bottom: 4px solid #fc3516;
    border-left: none;
    border-right: none;
    background-color: #012a68;
  }
}

/*
    ## Main
*/
main {
  background-color: #fedbb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10vh 0;
}

main .slider_nav_links {
  position: absolute;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 120px;
}

main .slider_nav_links a {
  background-color: #008797;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 0 10px;
  color: #fedbb3;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}

main .slider_nav_links a:hover {
  background-color: #00b5ca;
  color: #fdab4e;
}

main .slider {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  border: 2px solid #01204f;
}

main .slider .slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
}

main .slider .slide .slide_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */