footer  {
    position: fixed;
    bottom: 0;
    width: 100vw;
    min-height: 10vh;
    // background-color: $blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    div {
        background-color: lighten($color: $blue, $amount: 20%);
        text-align: center;
        line-height: 10vh;
        min-height: 10vh;
        align-self: end;
        transition: min-height 0.7s;

        &:nth-child(odd) {
            background-color: $blue;
        }
    }
}